{% load static %}

<div id="hero-area" class="hero-area-bg">
    <div class="container">      
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="contents">
            <h2 class="">Diversidade Arbória</h2><h3> Praças de Monte Alto - SP.</h3>
            <p>A arborização das praças da cidade de Monte Alto – SP constitui uma paisagem diversificada, tendo várias espécies arbóreas compondo sua estrutura, sendo importante para a purificação do ar, e mantendo a temperatura do ambiente agradável, levando vários cidadãos a visitá-las por ter estas características.</p> <p>Projeto desenvolvido por alunos da UNIVESP - Grupo 049 - Turma 002</p>
            <div class="header-button">
              <a href="#about" class="btn btn-border video-popup">Maiores informações</i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="intro-img">
            <!--<img class="img-fluid" src="{% static 'img/monte-alto.jpg' %}" alt="">-->
          </div>
                      
        </div>

      </div> 
    </div> 
  </div>

</header>
    <!-- Header Area wrapper End -->